@model Category

<form method="post">

    <div class="border mt-3 p-3">
        <div class="row pt-3 mb-3">
            <h2>Delete category</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control w-50"/>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control w-50" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:100px;">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-warning">Back to list</a>
    </div>
</form>

