@model IEnumerable<Product>

<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:15px;">
                    <div class="card">
                        <img src="/images/products/dead.png" alt="Random Image" class="card-img-top rounded p-2"/>
                        <div class="pl-1">
                            <p class="card-title h5 text-primary p-2">@product.Title</p>
                            <p class="card-title text-secondary p-2">By @product.Author</p>
                        </div>
                        <div class="pl-1">
                            <p class="p-2">List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                        </div>
                        <div class="pl-1">
                            <p class="p-2">As low as:<b>$@product.Price100.ToString("0.00")</b></p>
                        </div> 
                    </div>
                    <div class="p-2">
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@product.Id">Details</a>
                    </div>
                </div>
               
            </div>
        </div>
    }
</div>


